body {
    transition: background-color 0.5s;
}

.dark-mode {
    background-color: black;
    color: white;
}

#toggleButton {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

body:not(.dark-mode) #toggleButton {
    background-color: black;
    color: white;
}